import java.util.Arrays;
import java.util.Scanner;

public class Main {
    public static void main(String[] args) {
        System.out.println(textModifier());
    }
    public static String textModifier() {
        Scanner console = new Scanner(System.in);
        String stroka = console.nextLine();
        char[] charArray = stroka.toCharArray();
        String[] strArray = new String[charArray.length];
        for (int i = 0; i < charArray.length; i++) {
            strArray[i] = Character.toString(charArray[i]);
        }
        for (int i = 0; i < strArray.length-1; i++) {
            if ((strArray[i] + strArray[i + 1]).equals("  ")) {
                strArray[i] = "";
            }
        }
        for (int i = 0; i < strArray.length; i++) {
            if (strArray[i].equals("-")) {
                strArray[i] = "";
                String a = strArray[i + 1];
                strArray[i + 1] = strArray[i - 1];
                strArray[i - 1] = a;
            }
        }
        for (int i = 0; i < strArray.length; i++) {
            if (strArray[i].equals("+")) {
                strArray[i] = "!";
            }
        }
        int sum = 0;
        for (int i = 0; i < strArray.length; i++) {
            for (int j = 0; j < 10; j++) {
                if (strArray[i].equals(Integer.toString(j))) {
                    sum = sum+j;
                    strArray[i] = "";
                }
            }
        }
        String arrayToString = String.join("", strArray);
        if (sum == 0) {
            return(arrayToString);
        } else {
            return(arrayToString + " " + sum);
        }
    }
}
